<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"
          name="viewport">
    <title>菩提阁</title>
    <link href="../images/favico.ico" rel="icon">
    <!--不同屏幕尺寸根字体设置-->
    <script src="../js/base.js"></script>
    <!--element-ui的样式-->
    <link href="../../backend/plugins/element-ui/index.css" rel="stylesheet"/>
    <!--引入vant样式-->
    <link href="../styles/vant.min.css" rel="stylesheet"/>
    <!-- 引入样式  -->
    <link href="../styles/index.css" rel="stylesheet"/>
    <!--本页面内容的样式-->
    <link href="../styles/login.css" rel="stylesheet"/>
</head>
<body>
<div id="login" v-loading="loading">
    <div class="divHead">登录</div>
    <div class="divContainer">
        <el-input maxlength='20' placeholder=" 请输入邮箱" v-model="form.phone"/>
        </el-input>
        <div class="divSplit"></div>
        <el-input maxlength='20' placeholder=" 请输入验证码" v-model="form.code"/>
        </el-input>
        <span v-if="second > 0">{{second}}s</span>
        <span @click='getCode' v-if="second <= 0">获取验证码</span>
    </div>
    <div class="divMsg" v-if="msgFlag">邮箱格式不正确，请重新输入</div>
    <el-button :class="{btnSubmit:1===1,btnNoPhone:!form.phone,btnPhone:form.phone}" @click="btnLogin" type="primary">
        登录
    </el-button>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="../js/request.js"></script>
<script src="../api/login.js"></script>
</body>
<script>
    new Vue({
        el: "#login",
        data() {
            return {
                form: {
                    phone: '',
                    code: ''
                },
                // 倒计时
                second: -1,
                // 判断邮箱格式
                msgFlag: false,
                // 是否登陆中
                loading: false,
                // 是否可以发送验证码
                sending: true,
                // 倒计时定时任务引用 关闭登录层清除定时任务
                clearSmsTime: null
            }
        },
        computed: {},
        created() {
        },
        mounted() {
        },
        methods: {
            getCode() {
                this.form.code = ''
                // 手机号验证
                // const regex = /^(13[0-9]{9})|(15[0-9]{9})|(17[0-9]{9})|(18[0-9]{9})|(19[0-9]{9})$/;
                // 改为邮箱验证
                const regex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if (regex.test(this.form.phone)) {
                    this.msgFlag = false
                    //this.form.code = (Math.random()*1000000).toFixed(0)
                    sendMsgApi({phone: this.form.phone})
                    // 不可重复发送验证码
                    this.sending = false
                    // 倒计时效果
                    this.timeDown()
                } else {
                    this.msgFlag = true
                }
            },
            // 倒计时
            timeDown() {
                if (this.clearSmsTime) {
                    clearInterval(this.clearSmsTime)
                }
                this.second = 60
                this.clearSmsTime = setInterval(() => {
                    --this.second
                    if (this.second < 1) {
                        clearInterval(this.clearSmsTime)
                        // 可以重新发送验证码
                        this.sending = true
                        this.second = 0
                    }
                }, 1000)
            },
            async btnLogin() {
                if (this.form.phone && this.form.code) {
                    this.loading = true
                    const res = await loginApi(this.form)
                    this.loading = false
                    if (res.code === 1) {
                        sessionStorage.setItem("userPhone", this.form.phone)
                        window.requestAnimationFrame(() => {
                            window.location.href = '../index.html'
                        })
                    } else {
                        this.$notify({type: 'warning', message: res.msg});
                    }
                } else {
                    this.$notify({type: 'warning', message: '请输入邮箱账号'});
                }
            }
        }
    })
</script>
</html>